[package]
edition = { workspace = true }
name = "recovery"
publish = { workspace = true }
version = "0.1.0"

[dependencies]
async-trait = { workspace = true }
axum = { workspace = true }
axum-macros = { workspace = true }
futures = { workspace = true }
hex = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
time = { workspace = true }
tracing = { workspace = true }
utoipa = { workspace = true }

# path dependencies
account = { workspace = true }
authn_authz = { workspace = true }
bdk_utils = { workspace = true }
comms_verification = { workspace = true }
database = { workspace = true }
errors = { workspace = true }
external_identifier = { workspace = true }
feature_flags = { workspace = true }
http_server = { workspace = true }
instrumentation = { workspace = true }
notification = { workspace = true }
repository = { workspace = true, features = ["recovery"] }
types = { workspace = true, features = ["recovery"] }
userpool = { workspace = true }
wsm-rust-client = { workspace = true }
