[package]
edition = { workspace = true }
name = "workers"
publish = { workspace = true }
version = "0.1.0"

[dependencies]
aes-gcm = "0.10.3"
aws-config = { workspace = true }
aws-sdk-sesv2 = "1.16.0"
aws-sdk-sns = { workspace = true }
base64 = { workspace = true }
csv = "1.3.0"
ctrlc = { workspace = true }
futures = { workspace = true }
isocountry = { workspace = true }
itertools = { workspace = true }
once_cell = { workspace = true }
reqwest = { workspace = true }
s3-utils = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
trait-variant = { workspace = true }

# path dependencies
account = { workspace = true }
bdk_utils = { workspace = true }
chain_indexer = { workspace = true }
database = { workspace = true }
errors = { workspace = true }
feature_flags = { workspace = true }
instrumentation = { workspace = true }
mempool_indexer = { workspace = true }
notification = { workspace = true }
notification_validation = { workspace = true }
queue = { workspace = true }
recovery = { workspace = true }
repository = { workspace = true, features = ["privileged_action"] }
types = { workspace = true, features = ["account", "notification"] }

[lints]
workspace = true

[dev-dependencies]
rstest = { workspace = true }
