name: Terraform

on:
  push:
    branches:
      - main

  pull_request:

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: cashapp/activate-hermit@e49f5cb4dd64ff0b0b659d1d8df499595451155a  # v1
      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
        name: Cache plugin dir
        with:
          path: ~/.tflint.d/plugins
          key: tflint-${{ hashFiles('.tflint.hcl') }}
      - name: Lint
        run: |
          just init-linter
          just lint
        env:
          # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ github.token }}
  validate:
    name: Validate Modules
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: cashapp/activate-hermit@e49f5cb4dd64ff0b0b659d1d8df499595451155a  # v1
      - uses: actions/cache@1bd1e32a3bdc45362d1e726936510720a7c30a57 # v4
        name: Cache plugin dir
        with:
          path: "${{ github.workspace }}/.terraform.d/plugin-cache"
          key: terraform-plugin-cache
      - name: Validate
        run: just validate
        env:
          # https://github.com/terraform-linters/tflint/blob/master/docs/user-guide/plugins.md#avoiding-rate-limiting
          GITHUB_TOKEN: ${{ github.token }}
          TF_PLUGIN_CACHE_DIR: "${{ github.workspace }}/.terraform.d/plugin-cache"
  tfsec:
    name: Run tfsec
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - uses: cashapp/activate-hermit@e49f5cb4dd64ff0b0b659d1d8df499595451155a  # v1
      - name: tfsec
        uses: aquasecurity/tfsec-action@b466648d6e39e7c75324f25d83891162a721f2d6 # v1.0.3
        with:
          additional_args: --exclude-downloaded-modules
  generate-atlantis-config:
    name: Generate atlantis.yaml
    runs-on: ubuntu-latest
    steps:
      # Check out the latest commit to the PR/branch instead of the requested commit
      # in case multiple pushes are happening. Need to use a different ref for push
      # events and pull_request events
      # https://github.com/stefanzweifel/git-auto-commit-action#example-workflow
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.head_ref }}
        if: github.event_name == 'pull_request'
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
        with:
          ref: ${{ github.ref }}
        if: github.event_name != 'pull_request'
      - uses: cashapp/activate-hermit@e49f5cb4dd64ff0b0b659d1d8df499595451155a  # v1
      - run:
          just atlantis-yaml
      - uses: stefanzweifel/git-auto-commit-action@8621497c8c39c72f3e2a999a26b4ca1b5058a842 # v5
        with:
          commit_message: Update atlantis.yaml
