[package]
edition = { workspace = true }
name = "partnerships"
publish = { workspace = true }
version = "0.1.0"

[dependencies]
axum = { workspace = true }
axum-macros = { workspace = true }
http_server = { workspace = true }
serde = { workspace = true }
ulid = { workspace = true }
utoipa = { workspace = true }

# path dependencies
account = { workspace = true }
authn_authz = { workspace = true }
aws-utils = { path = "aws_utils" }
external_identifier = { workspace = true }
partnerships-lib = { path = "partnerships_lib" }
types = { workspace = true, features = ["account"] }
userpool = { workspace = true }

[dev-dependencies]
http-body-util = "0.1.0"
jwt-authorizer = { workspace = true }
mime = "0.3"
serde_json = "1.0"
server = { path = "../server" }
tokio = { version = "1.36.0", features = ["full"] }
tower = { workspace = true, features = ["util"] }
