[package]
edition = { workspace = true }
name = "notification"
publish = { workspace = true }
version = "0.1.0"

[dependencies]
async-trait = { workspace = true }
axum = { workspace = true }
axum-extra = { version = "0.9.2", features = ["typed-header"] }
axum-macros = { workspace = true }
base64 = { workspace = true }
bimap = "0.6.3"
derive_builder = { workspace = true }
dyn-clone = { workspace = true }
futures = { workspace = true }
hmac = "0.12.1"
http = { workspace = true }
isocountry = { workspace = true }
itertools = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true }
reqwest = { workspace = true }
reqwest-middleware = { workspace = true }
reqwest-retry = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
sha1 = "0.10.6"
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
ulid = { workspace = true }
urlencoding = { workspace = true }
utoipa = { workspace = true }

# path dependencies
account = { workspace = true }
authn_authz = { workspace = true }
bdk_utils = { workspace = true }
database = { workspace = true }
errors = { workspace = true }
http_server = { workspace = true }
instrumentation = { workspace = true }
migration = { workspace = true }
queue = { workspace = true }
repository = { workspace = true, features = ["consent"] }
types = { workspace = true, features = [
  "account",
  "notification",
  "privileged_action",
  "recovery",
] }
userpool = { workspace = true }

[dev-dependencies]
rstest = { workspace = true }
