<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.NFC" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <uses-feature android:name="android.hardware.camera" />
  <!-- Let Google Play store know that our app cannot or is not meant to properly function without NFC capabilities. -->
  <uses-feature android:name="android.hardware.nfc" android:required="true"/>

  <application
      android:name="build.wallet.BitkeyApplication"
      android:allowBackup="false"
      android:dataExtractionRules="@xml/data_extraction_rules"
      android:fullBackupContent="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:supportsRtl="true"
      android:theme="@style/Theme.AppSplash">

    <!-- Allows the customer to share app files.
         We use this allow customer share Emergency Exit Kit PDF file. -->
    <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
      <meta-data
              android:name="android.support.FILE_PROVIDER_PATHS"
              android:resource="@xml/provider_paths"
      />
    </provider>

    <!-- Bugsnag API key loaded by Bugsnag SDK and Bugsnag Gradle plugin. -->
    <meta-data android:name="com.bugsnag.android.API_KEY"
        android:value="464934c561d13432d7773f18276c4655"/>

    <!-- Set the default small icon for push notifications, when not specified -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/small_icon_bitkey" />

    <!-- Set the default color for push notifications, when not specified -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/black" />

    <!-- Set the default channel for push notifications, when not specified by server-->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/general_channel_id" />


    <!-- Setting the launchMode to singleTask ensures that deeplinking to the app opens the existing Activity of the Bitkey App or creates a new one -->
    <activity
        android:name="build.wallet.MainActivity"
        android:exported="true"
        android:launchMode="singleTask">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.nfc.action.TECH_DISCOVERED" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
        <intent-filter android:autoVerify="true">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data android:scheme="https"
                android:host="web-site.bitkeystaging.com"
                android:pathPrefix="/links" />
          <data android:scheme="https"
                android:host="bitkey.world"
                android:pathPrefix="/links" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <!-- Accepts URIs, example: "bitkey://open” -->
        <data android:scheme="bitkey"
            android:host="open" />
      </intent-filter>

      <meta-data
          android:name="android.nfc.action.TECH_DISCOVERED"
          android:resource="@xml/nfc_tech_list" />
    </activity>

    <!-- A workaround to bug in Google Sign In activity where the status bar gets animated down over the app's UI: https://github.com/flutter/flutter/issues/48371 -->
    <activity
        android:name="com.google.android.gms.auth.api.signin.internal.SignInHubActivity"
        android:excludeFromRecents="true"
        android:exported="false"
        android:theme="@style/GoogleSignInActivity"
        tools:replace="android:theme" />

    <service
        android:name="build.wallet.WalletFirebaseMessagingService"
        android:exported="false">
      <intent-filter>
        <action android:name="com.google.firebase.MESSAGING_EVENT" />
      </intent-filter>
    </service>

    <receiver android:name=".notification.NotificationDismissBroadcastReceiver" />
    <receiver android:name=".platform.sharing.SharingManagerBroadcastReceiver" />

  </application>

  <!--- Declare to OS that our app needs to query for the presence of the Chrome browser (com.android.chrome).
  This is necessary for us to be able to launch the CustomTabs in Chrome. -->
  <queries>
    <package android:name="com.android.chrome" />
    <package android:name="com.squareup.cash" />
  </queries>

</manifest>
