[package]
edition = { workspace = true }
name = "exchange_rate"
publish = { workspace = true }
version = "0.1.0"

[dependencies]
async-trait = { workspace = true }
axum = { workspace = true }
axum-macros = { workspace = true }
bdk_utils = { workspace = true }
futures = { workspace = true }
moka = { version = "0.12.5", features = ["future"] }
once_cell = { workspace = true }
reqwest = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
thiserror = { workspace = true }
time = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
types = { workspace = true, features = ["currencies", "exchange_rate"] }
utoipa = { workspace = true }

# path dependencies
account = { workspace = true }
errors = { workspace = true }
experimentation = { workspace = true }
feature_flags = { workspace = true }
http_server = { workspace = true }
instrumentation = { workspace = true }

[dev-dependencies]
authn_authz = { workspace = true }
http = "0.2.11"
http-body-util = "0.1.0"
jwt-authorizer = { workspace = true }
tower = { workspace = true, features = ["util"] }
wiremock = "0.6.0"

[lints]
workspace = true
