[package]
edition = { workspace = true }
name = "screener"
publish = { workspace = true }
version = "0.1.0"

[dependencies]
aws-config = { workspace = true }
aws-sdk-s3 = { workspace = true }
csv = "1.3.0"
serde = { workspace = true }
serde_json = { workspace = true }
strum = { workspace = true }
strum_macros = { workspace = true }
tokio = { workspace = true }
tracing = { workspace = true }
url = { workspace = true }

[dev-dependencies]
rstest = "0.18.2"
