venv
build
config/*.svd
config/keys/*/*localstack*
python/build
python/dist
python/*egg*
python/automation/allure
python/.pytest_cache
lib/ipc/generated
lib/protobuf/dist
lib/protobuf/*egg*
lib/protobuf/bitkey_proto/*_pb2.py
.local_fw_version
.local_bl_version
.fs-backups
crash-*
fuzz-*.log
invoke.json
monitor.log
meson.options
third-party/st-rfal/source/rfal_isoDepPATCHED.c
.clangd
.cache
